<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>189163648197-kh5h6c1pqsrrhi97na2aq35lhuingog5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189163648197-kh5h6c1pqsrrhi97na2aq35lhuingog5</string>
	<key>API_KEY</key>
	<string>AIzaSyDfUs3GTuNz9D6Le1IVJXk_MbGkzcXMgsw</string>
	<key>GCM_SENDER_ID</key>
	<string>189163648197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrickgross.SocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapp-81c67</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapp-81c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:189163648197:ios:2529e6f609b60439</string>
	<key>DATABASE_URL</key>
	<string>https://socialmediaapp-81c67.firebaseio.com</string>
</dict>
</plist>